body.toolbar{
	padding-top:0px;
}
.tabs.primary 
{
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
 	border-bottom: 1px solid #ddd;
 	padding: 0;
 	text-align: right;
}
.tabs.primary li.active {
    border-top-color: #3c8dbc;
}
.tabs.primary li
{   
	border-top: 3px solid transparent;
    margin-bottom: -2px;
    
    position: relative;
    display: inline-block;
   
}
.tabs.primary li.active a {
    border-top-color: transparent;
    border-left-color: #f4f4f4;
    border-right-color: #f4f4f4;
}
.tabs.primary li.active a, .tabs.primary li.active:hover>a {
    background-color: #fff;
    color: #444;
}
.tabs.primary li a, .tabs.primary li a:hover {
    background: transparent;
    margin: 0;
}
.tabs.primary li a{
    position: relative;
    display: block;
    padding: 10px 15px;
	line-height: 1.42857143;
	border:none; 
}
#branding,#page{background: #fff;padding-right: 20px;padding: 15px; }
.page-admin-config #branding,.page-admin-config #branding .page{background: none;}
.page-admin-content .add-or-remove-shortcuts.remove-shortcut{position: absolute;}
.exposed-filters .form-item{margin: 5px;}
.exposed-filters .form-select{width: 100%;}
.exposed-filters .form-item label{text-transform: capitalize;font-weight: 700;}
.exposed-filters .filters{float: none; }
#edit-actions{margin-top: 15px;margin-left: 5px;}
.content-list{width:28%;}
.table-bordered{border: 1px solid #dddddd;}
.form-textarea-wrappe,.filter-wrapper{border: 1px solid #dddddd;}
 
.vertical-tabs-list li.selected a{    border-left: 5px solid #0074BD;}
.vertical-tabs ul.vertical-tabs-list .selected strong{
    color: #3c8dbc;
}
.form-text
{
	border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.form-text:focus,.form-textarea:focus
{
	    border-color: #3c8dbc;
	    box-shadow: none;
	    border:1px solid #3c8dbc;
	    outline:0;
}
input[type=file]{
	display: inline-block;
}

button, html input[type=button], input[type=reset], input[type=submit]
{
	background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    box-shadow: none;
    border:1px solid #ddd;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 0;
}
table{
	width: 100%;
	border: 1px solid #dddddd;
}
.checkbox, .radio{
	
}
input[type="submit"][id^="edit-submit"], input#edit-actions-submit, input[id^="save-continue"], input[type="submit"][id^="edit-save"], input#edit-save, input#edit-submit, input#edit-actions-save, .field-widget-inline-entity-form .container-inline .form-submit, #media-browser-page a.button-yes, input.add-new-condition, #edit-field-product-und-form-actions input.ief-entity-submit
{
    cursor: pointer;
    border-radius: 0;
    border: none;
    padding: 6px 10px;
    margin-bottom: 1em;
    margin-right: 1em;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    font-family: "Lucida Grande",Verdana,sans-serif;
    background: #4d8f46;
    transition: all, 0.3s;
}
input[type="submit"][id^="edit-submit"]:hover, input#edit-actions-submit:hover, input[id^="save-continue"]:hover, input[type="submit"][id^="edit-save"]:hover, input#edit-save:hover, input#edit-submit:hover, input#edit-actions-save:hover, .field-widget-inline-entity-form .container-inline .form-submit:hover, #media-browser-page a.button-yes:hover, input.add-new-condition:hover, #edit-field-product-und-form-actions input.ief-entity-submit:hover
{
    background: #0a6700;
 
    color: #fff;
}
input#edit-preview, input#edit-next, input#preview-submit, input.ief-entity-submit, input[type="submit"][id^="edit-return"], .field-widget-inline-entity-form .ief-entity-operations input[id*="edit"]
{
        cursor: pointer;
    border-radius: 0;
    border: none;
    padding: 6px 10px;
    margin-bottom: 1em;
    margin-right: 1em;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    font-family: "Lucida Grande",Verdana,sans-serif;
    background: #0074BD;
    transition: all, 0.3s;
}

/*************** Admin Menu *******************/
#management-menu .menu-1.expanded ul li.expanded ul
{
    margin: 0 1px;
    background: #2c3b41;
    padding-left: 5px;
}
#management-menu li.menu-1 a:before
{
    content: "\f51c";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
.menu-open .fa-angle-left
{
    transform: rotate(-90deg);
}

#management-menu li a.active{
color: #fff;
}   

#management-menu li.menu-11 a:before
{
    content: "\f0e4";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
#management-menu li.menu-9 a:before
{
    content: "\f15b";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
#management-menu li.menu-33 a:before
{
    content: "\f075";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
#management-menu li.menu-21 a:before
{
    content: "\f0e8";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
#management-menu li.menu-16 a:before
{
    content: "\f1e6";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
#management-menu li.menu-7 a:before
{
    content: "\f1fc";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
#management-menu li.menu-18 a:before
{
    content: "\f0c0";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
#management-menu li.menu-8 a:before
{
    content: "\f013";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
#management-menu li.menu-19 a:before
{
    content: "\f080";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}
#management-menu li.menu-12 a:before
{
    content: "\f059";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}

#management-menu li.expanded ul li.expanded ul li a:before
{
    
     content: "\f10c";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}  
.admin-list li 
{
    list-style: none !important;
}
.admin-list li:before
{
    
     content: "\f10c";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px; 
}

  
.skin-blue .sidebar-menu>li>a{
    border-left:none; 
}
.sidebar-menu:hover
{
    overflow:hidden;
}
.admin-list li a{
    font-size: 15px;
}
#edit-options   .form-item-operation{float: left;}
#edit-options   .btn,#comment-admin-overview .form-submit{margin-left: 15px;margin-top: 15px;}
input.form-autocomplete, select.form-select {
    background: url(../images/select-arrow.svg) no-repeat right 50% #fff;
        -webkit-appearance: none;
    -webkit-padding-start: 8px;
    -webkit-padding-end: 16px;
    -webkit-padding-before: 5px;
    -webkit-padding-after: 5px;
    border-radius: 0;
    min-height: 16px;
}
.form-managed-file .form-file, .form-managed-file .form-submit {
    margin-right: 1em;
    border: 1px solid #ddd;
    padding: 5px 7px;
}
/*********Block Page*******/
.page-admin-structure-block .content
{
    min-height: 0px;
}
#block-admin-configure fieldset,#block-add-block-form fieldset{
    border: solid 1px #ddd;
    border-top: none;
    box-shadow: 0px -3px 0 #0074BD;
    padding: 12px;
    margin: 0 0 20px;
}
#block-add-block-form .filter-wrapper{
    border-top: 0;
    box-shadow: none;
    padding: 10px 2px;
}
#block-admin-configure fieldset legend,#block-add-block-form fieldset legend {
    background: white;
    padding: 0 6px;
    margin: 0;
    margin-left: -3px;
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 300;
    width: auto;
    border-bottom:none;
    display: block;
}
#block-admin-configure .vertical-tabs ul.vertical-tabs-list,#block-add-block-form .vertical-tabs ul.vertical-tabs-list {
    list-style: none;
    position: absolute;
    border-bottom: 1px solid #ccc;
    float: left;
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 240px;
}
#block-admin-configure div.vertical-tabs .vertical-tabs-panes,#block-add-block-form div.vertical-tabs .vertical-tabs-panes
{

    margin: 0 0 0 265px;
    padding: 10px 15px 10px 0;
}
#block-admin-configure div.vertical-tabs,#block-add-block-form div.vertical-tabs
{
    margin:0;
}
#block-admin-configure label,#block-add-block-form label{display: block;}
#block-admin-configure .vertical-tabs-pane label,#block-add-block-form .vertical-tabs-pane label
{
    display: inline-block;
} 
 input[type=checkbox]:checked, input[type=checkbox]:disabled:checked,  input[type=radio]:checked,  input[type=radio]:disabled:checked {
    background: #0074BD;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
 input[type=checkbox],  input[type=radio],  input[type=checkbox]#edit-delete {
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 0.25em;
    padding: 0;
    background: #fff;
    border: 1px solid #B5B5B5;
    width: 16px !important;
    height: 16px !important;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: background 0.5s ease;
    outline: none;
}
  input[type=radio] {
    border-radius: 50%;
}

/************Content Type*******/
.content{min-height: 0;}
#system-modules fieldset{margin-bottom: 30px;}
/*config page*/
.page-admin-config div.admin-panel{
    margin-bottom: 10px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    padding:0;
}
.page-admin-config div.admin
{
    padding-top:0;
}
.page-admin-config .admin-panel .title
{   color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 10px 15px 10px 35px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top:0; 
    position: relative;

}


div.admin-panel.admin.people h3 {
   /* background-image: url(images/config/people-small.png);*/
}
.page-admin-config .admin-panel.admin.people h3.title::before 
{
    background: url(images/config/people-small.png) no-repeat;
}
.page-admin-config .admin-panel.admin.content h3.title::before 
{
        background: url(images/config/pen-small.png) no-repeat;
}
.page-admin-config .admin-panel.admin.media h3.title::before 
{
        background: url(images/config/pen-small.png) no-repeat;
}
.page-admin-config .admin-panel.admin.search h3.title::before 
{
        background: url(images/config/pen-small.png) no-repeat;
}
.page-admin-config .admin-panel.admin.regional h3.title::before 
{
        background: url(images/config/pen-small.png) no-repeat;
}
.page-admin-config .admin-panel.admin.services h3.title::before 
{
        background: url(images/config/pen-small.png) no-repeat;
}
.page-admin-config .admin-panel.admin.development h3.title::before 
{
        background: url(images/config/pen-small.png) no-repeat;
}
.page-admin-config .admin-panel.admin.user-interface h3.title::before 
{
        background: url(images/config/pen-small.png) no-repeat;
}
.page-admin-config .admin-panel.admin.system h3.title::before 
{
        background: url(images/config/pen-small.png) no-repeat;
}
.page-admin-config h3.title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
   
    left: 5px;
    top: 10px;
   

}
.page-admin-reports-status table tr
{
    border:1px solid #ddd;
}
.admin.logo-lg img{
    width: 20%;
}
.page-admin-reports-dblog fieldset
{
    margin-bottom: 30px;
}

#system-modules table thead tr th
{
    margin: 0;
}

/**************** recent-user-list ************************/
.recent-user-list .users-list-name-circle
{
    border-radius: 50%;
    background: #3c8dbc;
    height: 65px;
    font-size: 40px;
    text-transform: uppercase;
    width: 65px;
    color: #fff;
}
.recent-user-list .users-list-name
{
    text-transform: capitalize;
}

/************** recent node list ************/
.recent_node_post .product-img .node-list-name-circle
{
    border-radius: 50%;
    background: #d2d6de;
    height: 65px;
    font-size: 40px;
    text-transform: uppercase;
    width: 65px;
    color: #000;
    text-align: center;
}
.recent_node_post .product-img
{
    margin-right:  5px;
}
.recent_node_post .product-title
{
    text-transform: capitalize;
}
.recent_node_post .fa.fa-times, .recent-user-list-section .fa.fa-times
{
    display: none;
}

/************ select2 *****************/
.select2-container--default .select2-selection--single
{
    height: 35px !important;
    border-radius: 0 !important; 
}


/*************** Message design***********/

.messages.error
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-image: none;
}
.messages.status
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-image: none;
}
.messages.warning
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-image: none;
}

/************** Pagination*************/
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span
{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/****************Mobile View******************/

@media (max-width: 575px) 
{  
    .content-list{width: 100%;}
    .page-admin-config div.admin .left,.page-admin-config div.admin .right
     {
        width: 100%;
        float: none;
    }
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) 
{
    .content-list{width: 100%;}
    .page-admin-config div.admin .left,.page-admin-config div.admin .right
    {
        width: 100%;
        float: none;
    }
  }
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) 
{ 
.content-list{width: 100%;}
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }